<!DOCTYPE html>
<html ng-app="HQApp" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">

    <title>Usage Statistics</title>

    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-google-chart/ng-google-chart.js') }}"></script>
    <script src="{{ url_for('static', filename='usage_charts.js') }}"></script>

</head>
<body ng-controller="UsageStats">

    {% extends "base.html" %}

    {% block content %}

        <label>Chart:</label>
        <select id="statisticSelection" ng-model="statisticSelection">
            <option value="" selected>Select a Chart</option>
            {% for id, name in statistics %}
                <option value="{{ id }}" selected>{{ name }}</option>
            {% endfor %}
        </select>

        <label>Hide Aliases:</label>
        <select id='show_alias_selector' ng-model="showaliasSelection">
            <option value="0" selected>All</option>
            <option value="1" selected>Aliased Only</option>
            <option value="2" selected>No Aliases</option>
        </select>

        {% raw %}
        <div statisticchart plotid="{{statisticSelection}}" showaliases="{{showaliasSelection}}"> </div>
        {% endraw %}


        {% raw %}

        <select id="stateSelection" ng-model="stateSelection" ng-options="s for s in states">
            <option value="" selected>Select a Trackable State</option>
        </select>
        <div statechart state="{{stateSelection}}" showaliases="{{showaliasSelection}}">
        </div>


        {% endraw %}

    {% endblock %}

</body>
</html>