{% extends "base.html" %}

{% block header %}
    <script src="{{ url_for('static', filename='bower_components/angular-google-chart/ng-google-chart.js') }}"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='plots.js') }}"></script>
{% endblock %}


{% block content %}
    <div ng-controller="UsagePlotsController" layout="column" style="background: white; color: black; height: 100%; width: 100%">

        <md-input-container>
            <label>User Filter:</label>
            <md-select id='show_alias_selector' ng-model="showaliasSelection" style="width:100%" placeholder="Select Alias Level">
                <md-option value="0" selected>All</md-option>
                <md-option value="1" selected>Aliased Only</md-option>
                <md-option value="2" selected>No Aliases</md-option>
            </md-select>
        </md-input-container>

        <div layout="row" style="height: 50%;">
            <md-button ng-click="addStatisticPlot()">Add Plot</md-button>
            <div ng-repeat="createdplotid in createdPlots.statistics" style="display: inline">
                <md-input-container layout="row">
                    <label>User-Defined Chart:</label>
                    <md-select ng-model="createdplotid.plotid" style="width:100%" placeholder="Select a Chart">
                            <md-option ng-repeat="(plotid, statplot) in statistic_plots" ng-value="plotid">{a statplot a}</md-option>
                    </md-select>
                    <md-button ng-click="deleteStatisticPlot(createdplotid)">X</md-button>

                </md-input-container>

                <div style="width: 400px; height: 300px;" statisticchart plotid="{a createdplotid.plotid a}" showaliases="{a showaliasSelection a}" style="height:100%;">
                </div>
            </div>
        </div>


        <div layout="row" style="height: 50%;">
            <md-button ng-click="addStatePlot()">Add State</md-button>
            <div ng-repeat="createdstate in createdPlots.states" style="display: inline">
                <md-input-container layout="row">
                    <label>User-Defined Chart:</label>
                    <md-select ng-model="createdstate.state" style="width:100%" placeholder="Select a Chart">
                            <md-option ng-repeat="state in state_trackables" ng-value="state">{a state a}</md-option>
                    </md-select>
                    <md-button ng-click="deleteStatePlot(createdstate)">X</md-button>
                </md-input-container>

                <div style="width: 400px; height: 300px;" statechart state="{a createdstate.state a}" showaliases="{a showaliasSelection a}" style="height:100%;">
                </div>
            </div>
        </div>

    </div>
{% endblock %}


