<body>

    <div ng-cloak layout="column" ng-controller="HQController" style="height:100%;">

          <div flex layout="row">

              {#   Side Navigation Bar   #}
              <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="navbar">

                <md-toolbar>
                    Crash Reporter HQ
                </md-toolbar>
                <md-toolbar>
                    {% set menuitems =[('Home', url_for('view_reports')),
                                       ('Groups', url_for('groups')),
                                       ('Users', url_for('users')),
                                       ('Crash Statistics', url_for('view_report_stats')),
                                       ('Usage Statistics', url_for('view_usage_stats'))] %}

                    {% for (name, url) in menuitems %}
                        <md-button style="" href="{{ url }}" ng-href="{{ url }}">
                                <span>{{ name }} </span><!-- ngIf: isSelected() -->
                        </md-button>
                    {% endfor %}
                </md-toolbar>


            </md-sidenav>

            {# Main Content #}
            <md-content flex id="content">
                <div style="margin: 1%">
                    {% block content %}
                    {# Individual pages go here#}
                    {% endblock %}
                </div>
            </md-content>

          </div>


    </div>
</body>
</html>