<!DOCTYPE html>
<html lang="en" ng-app="hq-app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hq.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/angular-material/angular-material.css') }}">
    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-animate/angular-animate.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-material/angular-material.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-aria/angular-aria.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-messages/angular-messages.js') }}"></script>

    <script src="{{ url_for('static', filename='hq.js') }}"></script>

    {% block header %}
    {# Individual pages go here#}
    {% endblock %}

</head>

<body>

    <div ng-cloak layout="column" ng-controller="HQController" style="height:100%;">

          <div flex layout="row">

              {#   Side Navigation Bar   #}
              <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="navbar">

                <md-toolbar class="sidenavlogo">
                    <h3>Crash Reporter HQ</h3>
                </md-toolbar>
                <md-toolbar id="logged-in-info">
                  You are logged in as {{ user.name }}
                </md-toolbar>

                <md-toolbar class="sidenavbuttons">
                    {% set menuitems =[('Home', url_for('view_reports')),
                                       ('Groups', url_for('groups')),
                                       ('Users', url_for('users')),
                                       ('Crash Statistics', url_for('view_report_stats')),
                                       ('Usage Statistics', url_for('view_usage_stats'))] %}

                    {% for (name, url) in menuitems %}
                        <md-button href="{{ url }}" ng-href="{{ url }}">
                                <span>{{ name }} </span><!-- ngIf: isSelected() -->
                        </md-button>
                    {% endfor %}

                    <md-button style="" href="{{ url_for('logout') }}" ng-href="{{ url_for('logout') }}">
                            <span>Logout</span><!-- ngIf: isSelected() -->
                    </md-button>
                </md-toolbar>

                <md-toolbar id="copywrite" style="text-align: center; font-size: inherit">
                  <p>© Calvin Lobo 2015.<br> All rights reserved.</p>
                </md-toolbar>


            </md-sidenav>

            {# Main Content #}
            <md-content flex id="content">
                <div style="margin: 0.5%">
                    {% block content %}
                    {# Individual pages go here#}
                    {% endblock %}
                </div>
            </md-content>

          </div>


    </div>
</body>
</html>