<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='crashreport.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    {% extends "base.html" %}

    {% block content %}
        <md-content style="padding: 10px; width: 80%;">

            <div layout="row" layout-align="space-between stretch">

                <h3>
                    {% if report.application.name != None %}
                        {% if report.application.version_string != None %}
                            {{report.application.name}} (v{{report.application.version_string}})
                        {% else %}
                            {{report.application.name}}
                        {% endif %}

                    {% else %}
                        Crash Report
                    {% endif %}
                </h3>

                <div layout="row" layout-align="end stretch">
                    <md-content>
                        <md-button href="{{ search_links['Google'] }}">
                            <md-tooltip>Search on Google</md-tooltip>
                            <md-icon style="height: 45px; width: 45px;" md-svg-src="/static/images/google_icon.svg"></md-icon>
                        </md-button>

                        <md-button href="{{ search_links['StackOverflow'] }}">
                            <md-tooltip>Search on StackOverflow</md-tooltip>
                            <md-icon style="height: 45px; width: 45px;" md-svg-src="/static/images/stackoverflow_icon.svg"></md-icon>
                        </md-button>
                    </md-content>
                </div>

            </div>
            <p>A crash was detected on {{report['Date'].strftime('%d %B %Y')}} at {{report['Date'].strftime('%H:%M %p')}} from user {{ alias or report['User'].user_identifier }}.</p>
            {% if report.related_reports|length == 1 %}
                <p>There is <a href="{{ url_for('view_related_reports', report_id=report.id) }}">{{ report.related_reports|length }}</a> other related report found.</p>
            {% elif report.related_reports|length > 1 %}
                <p>There are <a href="{{ url_for('view_related_reports', report_id=report.id) }}">{{ report.related_reports|length }}</a> other related reports found.</p>
            {% endif %}


        </md-content>

        <div style="width: 80%;">

            <h4>Traceback (most recent call last):</h4>

            {% for tb in report['Traceback'] %}

                <div class="container">

                    <DL class="header">
                        File: {{tb['File']|e}} , line {{tb['Error Line Number']|e}}, in module {{tb['Module']|e}}
                        <DD>
                            {{tb['Error Line']|e}}
                        </DD>
                    </DL>


                    {% if loop.revindex <= inspection_level %}
                        <div class="content">

                            <h4>Source Code:</h4>
                            <div class="contentitem">
                                <div class="codeblock">
                                    {{ source_code[loop.index0] | safe }}
                                </div>
                            </div>

                            {#            LOCAL VARIABLES                #}
                            {% if tb['Local Variables'] %}
                                <h4>Local Variables:</h4>
                                    <div class="contentitem">
                                        <table border="1" class="reporttable variabletable">
                                            <tr class="tableheader">
                                                <td>Variable</td>
                                                <td>Value</td>
                                            </tr>
                                            {% for field, value in tb['Local Variables'] %}
                                                <tr>
                                                    <td class="varcolumn">{{ field|e }}</td>
                                                    <td class="valcolumn">{{ value|e }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                            {% endif %}

                            {#            OBJECT VARIABLES                #}
                            {% if tb['Object Variables'] %}
                                <h4>Object Inspection:</h4>
                                    <div class="contentitem">
                                        <table border="1" class="reporttable variabletable">
                                            <tr class="tableheader">
                                                <td>Variable</td>
                                                <td>Value</td>
                                            </tr>
                                            {% for field, value in tb['Object Variables'] %}
                                                <tr>
                                                    <td class="varcolumn">{{ field|e }}</td>
                                                    <td class="valcolumn">{{ value|e }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                            {% endif %}

                            {#            ADDITIONAL INFORMATION                #}
                            {% if tb['Custom Inspection'] %}
                                {% for header, additional_info in tb['Custom Inspection'].iteritems() %}
                                    <h4>{{ header }}</h4>
                                    <div class="contentitem">
                                        <table border="1" class="reporttable variabletable">
                                            <tr class="tableheader">
                                                <td>Variable</td>
                                                <td>Value</td>
                                            </tr>
                                            {% for field, value in additional_info.iteritems() %}
                                                <tr>
                                                    <td class="varcolumn">{{ field|e }}</td>
                                                    <td class="valcolumn">{{ value|e }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                {% endfor %}
                            {% endif %}


                        </div> {# End of content #}
                    {% endif %}
                </div>
            {% endfor %}


            <div class="container">
                <DL class="header">
                    {{report['Error Type']|e}}:
                    <DD>
                        {{report['Error Message']|e}}
                    </DD>
                </DL>
            </div>


        <form action="{{ url_for('youtrack_submit', report_number=report.id) }}" method="post" name="youtrack_submit">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>YouTrack</legend>
                <p>{{ form.server.label }} {{ form.server}}</p>
                <p>{{ form.assignee.label }} {{ form.assignee }}</p>
                <p>{{ form.password.label }}{{ form.password }}</p>
                <p>{{ form.project.label }}{{ form.project}}</p>
                <p>{{ form.summary.label }} {{ form.summary}}</p>
                <p>{{ form.description.label }} {{ form.description }}</p>
                <p>{{ form.submit }}</p>

            </fieldset>
        </form>

    {% endblock %}

</body>
</html>