<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='crashreport.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>

<div class="reportdialog">
<md-content style="margin: 0% 0%;">

    <div layout="row" layout-align="space-between stretch" style="padding: 10px;">
        <div layout="column" layout-align="space-between stretch">

        <h2 style="line-height: 0%">
            {% if report.application.name != None %}
                {{report.application.name}}
            {% else %}
                Crash Report
            {% endif %}
        </h2>

        <h4 style="line-height: 110%; margin: 0 0;">

            {% if report.application.version_string != None %}
                Version: {{report.application.version_string}}
            {% endif %}

        <br>
            {{report['Date'].strftime('%d %B %Y')}} at {{report['Date'].strftime('%H:%M %p')}} from user {{ alias or report['User'].user_identifier }}
        </h4>
        </div>


        <div layout="row" layout-align="end stretch">
            <md-content>
                {% if report.related_reports|length - 1 > 0 %}
                    <md-button href="{{ url_for('view_related_reports', report_id=report.id) }}" class="md-warn">
                        <md-tooltip>See other reports with similar traceback</md-tooltip>
                        {{ report.related_reports|length - 1 }} Related Reports
                    </md-button>
                {% endif %}
                <md-button href="{{ search_links['Google'] }}">
                    <md-tooltip>Search on Google</md-tooltip>
                    <md-icon style="height: 45px; width: 45px;" md-svg-src="/static/images/google_icon.svg"></md-icon>
                </md-button>

                <md-button href="{{ search_links['StackOverflow'] }}">
                    <md-tooltip>Search on StackOverflow</md-tooltip>
                    <md-icon style="height: 45px; width: 45px;" md-svg-src="/static/images/stackoverflow_icon.svg"></md-icon>
                </md-button>
            </md-content>
        </div>

    </div>

</md-content>

<div style="margin: 0% 3%;">

    <h4>Traceback (most recent call last):</h4>

    {% for tb in report['Traceback'] %}

        <div class="container" ng-click="toggleTraceback({{ loop.index }})">

            <DL class="header">
                File: {{tb['File']|e}} , line {{tb['Error Line Number']|e}}, in module {{tb['Module']|e}}
                <DD>
                    {{tb['Error Line']|e}}
                </DD>
            </DL>


            {% if loop.revindex <= inspection_level %}
                <div class="content" id="tb{{ loop.index }}">

                    <h4>Source Code:</h4>
                    <div class="contentitem">
                        <div class="codeblock">
                            {{ source_code[loop.index0] | safe }}
                        </div>
                    </div>

                    {#            LOCAL VARIABLES                #}
                    {% if tb['Local Variables'] %}
                        <h4>Local Variables:</h4>
                            <div class="contentitem">
                                <table border="1" class="reporttable variabletable">
                                    <tr class="tableheader">
                                        <td>Variable</td>
                                        <td>Value</td>
                                    </tr>
                                    {% for field, value in tb['Local Variables'] %}
                                        <tr>
                                            <td class="varcolumn">{{ field|e }}</td>
                                            <td class="valcolumn">{{ value|e }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                    {% endif %}

                    {#            OBJECT VARIABLES                #}
                    {% if tb['Object Variables'] %}
                        <h4>Object Inspection:</h4>
                            <div class="contentitem">
                                <table border="1" class="reporttable variabletable">
                                    <tr class="tableheader">
                                        <td>Variable</td>
                                        <td>Value</td>
                                    </tr>
                                    {% for field, value in tb['Object Variables'] %}
                                        <tr>
                                            <td class="varcolumn">{{ field|e }}</td>
                                            <td class="valcolumn">{{ value|e }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                    {% endif %}

                    {#            ADDITIONAL INFORMATION                #}
                    {% if tb['Custom Inspection'] %}
                        {% for header, additional_info in tb['Custom Inspection'].iteritems() %}
                            <h4>{{ header }}</h4>
                            <div class="contentitem">
                                <table border="1" class="reporttable variabletable">
                                    <tr class="tableheader">
                                        <td>Variable</td>
                                        <td>Value</td>
                                    </tr>
                                    {% for field, value in additional_info.iteritems() %}
                                        <tr>
                                            <td class="varcolumn">{{ field|e }}</td>
                                            <td class="valcolumn">{{ value|e }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    {% endif %}


                </div> {# End of content #}
            {% endif %}
        </div>
    {% endfor %}


    <div class="container">
        <DL class="header">
            {{report['Error Type']|e}}:
            <DD>
                {{report['Error Message']|e}}
            </DD>
        </DL>
    </div>
</div>
</div>