{% extends "base.html" %}

{% macro render_field(field, required=False, field_name=None) %}
    <span>{{ '* ' if required else '' }}{{ field_name if field_name is not none else field.name.capitalize() }}</span> {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul>
        {% for error in field.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}

        </ul>
    {% endif %}
{% endmacro %}

{% block content %}

<div ng-controller="GroupController" ng-cloak>
    <md-content style="min-height: 600px; padding: 25px">
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Group Members">
                <md-content>

                    {%  if group is none %}
                        <br>
                        <div >
                            <h3>Create a group</h3>
                            <form action="groups" method="post" name="groups">
                                {{ cform.hidden_tag() }}
                                <ul>
                                    <li><span>Group Name</span></li>
                                    <li>{{ cform.name(size=80) }}</li>
                                    <li><span>Group Description</span></li>
                                    <li>{{ cform.description }}</li>
                                    <li>{{ cform.submit }}</li>
                                </ul>

                                {% for error in cform.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </form>
                        </div>

                        <div>
                            <h3>Search for a group</h3>
                            <form action="groups" method="post" name="groups">
                                {{ sform.hidden_tag() }}
                                <ul>
                                    <li>
                                        <span>Group Name</span>
                                    </li>
                                    <li>
                                        {{ sform.name(size=80) }}
                                    </li>
                                    <li>
                                        {{ sform.submit }}
                                    </li>
                                </ul>

                                {% for error in sform.name.errors %}
                                    <span style="color: red;">[{{ error }}]</span>
                                {% endfor %}
                            </form>
                        </div>

                    {% else %}
                        <div>
                            <h3> {{ group.name }} </h3>
                            {% if group.description %}
                                <p> {{ group.description }} </p>
                            {% endif %}
                            {%  if not user.group %}
                                <form method="POST" action="{{ url_for('request_group_invite', group=group.name) }}">
                                    {% if user in group.join_requests %}
                                        <md-button disabled="true" type='submit'>Request Sent</md-button>
                                    {% else %}
                                        <md-button type='submit'>Request Invitation</md-button>
                                    {% endif %}
                                </form>
                            {% endif %}
                            {% if user.group_id == group.id %}
                                <table border="1" class="reporttable sortable", style="width:100%">
                                    <tr>

                                        {% for header in ('User', 'Group Admin', 'Actions') %}
                                            <td class="tableheader">{{ header }}</td>
                                        {% endfor %}
                                    </tr>

                                    <tr ng-repeat="(user_id, u) in group_members">
                                        <td style="text-align: center; width: 33%"> {a u.name a}</td>
                                        <td style="text-align: center; width: 33%">{a u.group_admin ? 'Yes': 'No' a}</td>
                                        <td>
                                            <md-button class="md-raised" ng-click="manageMembers(user_id, 'remove')">Remove</md-button>
                                            <md-button class="md-raised" ng-click="manageMembers(user_id, u.group_admin ? 'demote': 'promote')">{a u.group_admin ? 'Demote': 'Promote' a}</md-button>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if user.group_admin %}
                        <div>
                            <h3> Invitations </h3>
                            {% if group.join_requests %}
                            <table border="1" class="reporttable sortable", style="width:100%">
                                <tr>

                                    {% for header in ('User', 'Company', 'Action') %}
                                        <td class="tableheader">{{ header }}</td>
                                    {% endfor %}
                                </tr>

                                {% for u in group.join_requests %}
                                    <tr>
                                        <td style="text-align: center; width: 33%"> {{ u.name }}</td>
                                        <td style="text-align: center; width: 33%"> {{ u.company }}</td>
                                        <td style="text-align: center; width: 33%">
                                            <div style="display:inline-flex">
                                                <form method='POST' action="{{ url_for('group_join_request', group=group.name, user_email=u.email, action='accept') }}">
                                                    <input type="submit" value="Accept" >
                                                </form>
                                                <form method='POST' action="{{ url_for('group_join_request', group=group.name, user_email=u.email, action='reject') }}">
                                                    <input type="submit" value="Reject" >
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                                <p>There are no pending invitations.</p>
                            {% endif %}
                        </div>
                    {% endif %}

                </md-content>
            </md-tab>


            <md-tab label="Application Releases" ng-disabled={{ "false" if user.group else "true" }}>
                <md-content>
                    <div layout="column">
                        <table border="1" class="reporttable sortable", style="width:100%">
                            <tr class="tableheader">

                                {% for header in ('Application Name', 'Application Version', '') %}
                                    <td class="tableheader">{{ header }}</td>
                                {% endfor %}

                            </tr>
                            <tr ng-repeat="(id, app) in application_releases">
                                <td>{a app.name a}</td>
                                <td>{a app.version a}</td>
                                <td>
                                    <md-button class="md-raised" ng-click="removeRelease(id)">Remove</md-button>
                                </td>
                            </tr>
                        </table>

                        <form method='POST' ng-submit="addRelease(AppReleaseForm.name, AppReleaseForm.version)">
                            <md-input-container>
                                <label>Application Name</label>
                                <input ng-model="AppReleaseForm.name"></input>
                            </md-input-container>
                            <md-input-container>
                                <label>Version</label>
                                <input ng-model="AppReleaseForm.version"></input>
                            </md-input-container>
                            <md-button type="submit">Add</md-button>
                        </form>
                    </div>
                </md-content>
            </md-tab>


            <md-tab label="Application Users" ng-disabled={{ "false" if user.group else "true" }}>
                <md-content>
                    <table border="1" class="reporttable sortable", style="width:100%">
                        <tr class="tableheader">

                            {% for header in ('UUID', 'Usage Stats', 'Crash Reports', '') %}
                                <td class="tableheader">{{ header }}</td>
                            {% endfor %}

                        </tr>

                        {% for uuid in uuids %}
                            <tr>
                                <td>{{ uuid.user_identifier }}</td>
                                <td>
                                    <form method='POST' action="{{ url_for('manage_uuid', uuid_id=uuid.id, action='toggle_usage_stats') }}">
                                        <input type="submit" value={{ 'Off' if uuid.usagestats_black_listed else 'On'}} >
                                    </form>
                                </td>
                                <td>
                                    <form method='POST' action="{{ url_for('manage_uuid', uuid_id=uuid.id, action='toggle_crash_reports') }}">
                                        <input type="submit" value={{ 'Off' if uuid.crashreport_black_listed else 'On'}} >
                                    </form>
                                </td>
                                <td>
                                    <form method='POST' action="{{ url_for('manage_uuid', uuid_id=uuid.id, action='delete') }}">
                                        <input type="submit" value='Delete' >
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </md-content>
            </md-tab>


            <md-tab label="Aliases" ng-disabled={{ "false" if user.group else "true" }}>
                <md-content>
                    <table border="1" class="reporttable sortable", style="width:100%">
                        <tr class="tableheader">

                            {% for header in ('Alias', 'UUID', '') %}
                                <td class="tableheader">{{ header }}</td>
                            {% endfor %}

                        </tr>
                        <tr ng-repeat="(id, alias) in aliases">
                            <td>{a alias.alias a}</td>
                            <td>{a alias.uuid a}</td>
                            <td>
                                <md-button class="md-raised" ng-click="removeAlias(id)">Remove</md-button>
                            </td>
                        </tr>
                    </table>

                    <form method='POST' ng-submit="addAlias(AppAliasForm.uuid, AppAliasForm.alias)">
                        <md-input-container>
                            <label>UUID</label>
                            <input ng-model="AppAliasForm.uuid"></input>
                        </md-input-container>
                        <md-input-container>
                            <label>Alias</label>
                            <input ng-model="AppAliasForm.alias"></input>
                        </md-input-container>
                        <md-button type="submit">Add</md-button>
                    </form>

                </md-content>
            </md-tab>


            <md-tab label="Trackables" ng-disabled={{ "false" if user.group else "true" }}>
                <md-content>
                    <md-tabs>
                        <md-content>


                            {% for trackable in ('Statistics', 'States', 'Timers', 'Sequences') %}
                                <md-tab label="{{ trackable }} Trackable">

                                    <table border="1" class="reporttable sortable", style="width:100%">
                                        <tr class="tableheader">
                                            {% for header in ('Name', 'Number of Users Reported', '') %}
                                                <td class="tableheader">{{ header }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% for s in trackables[trackable.lower()] %}
                                            <tr>
                                                <td>{{ s[0].name }}</td>
                                                <td>{{ s[1]}}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </md-tab>
                            {% endfor %}

                        </md-content>
                    </md-tabs>

                </md-content>
            </md-tab>

            <md-tab label="Plots" ng-disabled={{ "false" if user.group else "true" }}>
                <md-content>
                    <div layout="column" style="min-height: 400px;">
                        <table border="1" class="reporttable sortable", style="width:100%">
                            <tr class="tableheader">

                                {% for header in ('Plot Name', 'Fields', '') %}
                                    <td class="tableheader">{{ header }}</td>
                                {% endfor %}

                            </tr>
                            <tr ng-repeat="(id, plot) in statistic_plots">
                                <td>{a plot.name a}</td>
                                <td>
                                    <span style="padding: 10px;" ng-repeat="s in plot.statistics">{a s a}</span>
                                </td>
                                <td>
                                    <md-button class="md-raised"  ng-click="removePlot(id)">Remove</md-button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <form method='POST' ng-submit="addPlot(PlotForm)">
                        <md-input-container>
                            <label>Plot Name</label>
                            <input ng-model="PlotForm.name"></input>
                        </md-input-container>
                        <md-input-container>
                            <label>Application</label>
                            <input ng-model="PlotForm.application" placeholder="Optional"></input>
                        </md-input-container>
                        <md-input-container>
                            <label>Version</label>
                            <input ng-model="PlotForm.version" placeholder="Optional"></input>
                        </md-input-container>
                        <md-input-container ng-repeat="stat in PlotForm.statistics">
                            <label>Statistic</label>
                            <input ng-model="stat[0]"></input>
                        </md-input-container>
                        <md-button ng-click="addStatisticField()">+</md-button>
                        <md-button type="submit">Add Plot</md-button>
                    </form>
                </md-content>
            </md-tab>


        </md-tabs>


    </md-content>

</div>

{% endblock %}
