{% extends "base.html" %}

{% block content %}

    <form ng-controller="SearchController" ng-submit="submitSearch()" method="post" layout="column" style="background: white; color:black;">
        <div layout="row" flex style="padding: 0px 50px;" layout-align="space-between stretch">
            {#   Search form starts here     #}
            <div layout="column" style="padding: 0px 50px; width: 50%;" layout-align="start start">
                <div layout-gt-sm="column" style="width: 100%;" ng-repeat="c in searchform.filters">
                    <div layout-gt-sm="row" style="width: 100%;">

                        <md-input-container style="width: 15%">
                            <md-select  ng-model="c[0]" placeholder="Choose a field">
                                <md-option ng-repeat="s in searchfields" ng-value="s.value">
                                    {a s.field a}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container style="width: 85%">
                            <input ng-model="c[1]"
                                   ng-value="c[1]">

                            </input>
                        </md-input-container>

                        <md-input-container>
                            <md-button ng-click="removeFilter(c)"
                                       ng-hide="searchform.filters.indexOf(c)==0"
                                       class="md-raised"
                                       name="remove_filter_button">

                                            Remove Field
                            </md-button>
                        </md-input-container>

                    </div>
                </div>
                <div layout-gt-sm="row" layout-align="left" style="width: 100%;">

                    <section layout="row" layout-sm="column" layout-align="start center" style="width:100%">
                        <md-button ng-click="submitSearch()" class="md-raised" name="search_button">
                            Search
                        </md-button>

                        <md-button ng-click="addFilter()" class="md-raised" name="add_filter_button">
                            Add Field
                        </md-button>
                    </section>

                    <section layout="row" layout-sm="column" layout-align="end center" style="width:25%">
                        <md-button class="md-raised" ng-show="searchform.related_to_id" ng-click="removeRelatedGroup()">
                            Similar to {a searchform.related_to_id a} X
                        </md-button>

                        <md-input-container>
                            <label>Alias</label>
                            <md-select  ng-model="searchform.alias_filter">
                                <md-option ng-repeat="s in alias_filter_options" ng-value="s.value">
                                    {a s.field a}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container>
                            <label>Release</label>
                            <md-select  ng-model="searchform.release_filter" placeholder="Release Filtering">
                                <md-option ng-repeat="s in release_filter_options" ng-value="s.value">
                                    {a s.field a}
                                </md-option>
                            </md-select>
                        </md-input-container>

                    </section>
                </div>
            </div>
            {#   Search form ends here     #}

            {# Search Result info starts here #}
            <div layout="column" style="width: 50%;" layout-align="stretch">
                <md-content style="width: 100%;">
                    <md-content style="text-align: center">
                        {a pagination.total_reports a} Reports found <br>
                        Page {a pagination.page a} of {a pagination.max_page a}
                    </md-content>

                    {#    Progress bar to show while searching / loading page   #}
                    <md-content style="width: 100%; min-width: 100px; min-height: 100px;" ng-if="is_searching">
                        <md-progress-circular style="margin: 50px auto" id="searchprogress" class="ng-hide" md-mode="indeterminate" ng-hide="false"></md-progress-circular>
                    </md-content>

                    {#    Summary info or reports found  #}
                    <div layout="row" style="width: 100%;" layout-align="space-around stretch" ng-if="!is_searching">
                        <md-content>
                            <h3>Users Affected</h3>
                            <h1>{a n_affected_users a}</h1>
                        </md-content>
                        <md-content>
                            <h3>Unique Crashes</h3>
                            <h1>{a pagination.total_reports a}</h1>
                        </md-content>
                        <md-content>
                            <h3>Most Recent Report</h3>
                            <h3>{a reports[reports.length-1].date a}<hr>
                                {a reports[reports.length-1].time a}
                            </h3>
                        </md-content>

                    </div>
                </md-content>
            </div>
        </div>
        {# Search Result info ends here #}

        <div layout-gt-sm="row" layout-align="center end">
            <md-button style="width: 10px" ng-repeat="p in pagination.pages" ng-click="submitSearch(p)" ng-disabled="p==pagination.page">
                {a p a}
            </md-button>
        </div>


        <table border="1" style="width:100%;" class="reporttable sortable">
            <tr>
                    <td class="tableheader">#</td>
                    <td class="tableheader" ng-show="!searchform.related_to_id">Count</td>
                    <td class="tableheader">Application</td>
                    <td class="tableheader">Version</td>
                    <td class="tableheader">User</td>
                    <td class="tableheader">Error Type</td>
                    <td class="tableheader">Error Message</td>
                    <td class="tableheader">Date</td>
                    <td class="tableheader">Time</td>
                    <td class="tableheader"></td>
                    <td class="tableheader"></td>
            </tr>

            <tr ng-repeat="r in reports" ng-show="!is_searching">
                <td>{a r.report_number a}</td>
                <td ng-show="!searchform.related_to_id"><md-button ng-click="setRelatedGroup(r.report_number)">{a r.related_report_numbers.length a}</md-button></td>
                <td>{a r.application_name a}</td>
                <td>{a r.application_version a}</td>
                <td style="width: 10%">{a r.user a}</td>
                <td>{a r.error_type a}</td>
                <td style="width: 30%">{a r.error_message a}</td>
                <td>{a r.date a}</td>
                <td>{a r.time a}</td>
                <td>
                        <md-button href="/reports/{a r.report_number a}" class="md-raised">Open</md-button>
                </td>
                <td>
                        <md-button ng-click="deleteReport(r.report_number)" class="md-raised">Delete</md-button>
                </td>
            </tr>
        </table>

    </form>


    {% if user.group_admin and show_delete %}
        <form action={{ url_for('delete_report', delete_similar=True, report_numbers=','.join(report_numbers)) }} method="post" name="login" >
            <input type='submit' name='search', value="Delete Results">
            </input>
        </form>
    {% endif %}

{% endblock %}