<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hq.css') }}">
    <title>Crash Reporter HQ</title>
</head>
<body id="content">
        <div class="bubblebox" style="margin: 10% 25%">
            <h3>Sign In</h3>
            <form action="login" method="post" name="login">
                {{ form.hidden_tag() }}
                <ul class="invis-list">
                    <li>
                        <span>Email</span> {{ form.email(size=80) }}
                    </li>
                    <li>
                        <span>Password</span> {{ form.password(size=80) }}
                    </li>
                </ul>
                <input type='submit' name='submit', style="margin-top: 10px;" value="Sign In"></input>
                <p>
                    <a href="{{ url_for('signup') }}">Sign Up</a>
                </p>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </form>
        </div>


</body>
</html>