<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <title>Crash Reporter HQ</title>
</head>
<body id="form-page">

    {% extends "base.html" %}

    {% macro render_field(field, required=False) %}
        <li>
            <span>{{ '* ' if required else '' }}{{ field.name.capitalize() }}</span> {{ field(**kwargs)|safe }}
        </li>
        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% block content %}

        <div class="form">
            <h3>Sign Up</h3>
            <form action="signup" method="post" name="signup">
                {{ form.hidden_tag() }}
                <ul>
                    {{ render_field(form.email, required=True) }}
                    {{ render_field(form.password, required=True) }}
                    {{ render_field(form.confirm, required=True) }}
                    {{ render_field(form.name, required=False) }}
                    {{ render_field(form.company, required=False) }}
                </ul>
                <input type='submit' name='submit', value="Sign Up"></input>
            </form>
        </div>

    {% endblock %}


</body>
</html>