.container {
    margin: 5px 0px;
    padding: 0px 10px;
    color: #000000;
    background-color:#FFFFC7;
    border: 2px solid #000000;
    border-radius: 5px;
}
.header {
    background-color:#FFFFC7;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}
.content {
    display: none;
    width: 100%;
    padding : 0px;
}

.contentitem {
    max-width: 95%;
    margin: 0px;
    padding: 10px;
    display: block;
}

.codeblock {
    overflow:scroll;
    background-color:#FFFFFF;
    width: 100%;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.variabletable {
    width: 100%;
    background-color:#FFFFFF;
}

.varcolumn {
    padding: 5px;
    width: 30%;
    font-weight: bold;
}

.valcolumn {
    padding: 5px;
    width: 70%;
    font-weight: bold;
}

.reportdialog {
    background-image:url(images/bg.gif);
	background-repeat:repeat-x;
	background-color:#121212;
    font-size:16px;
    color: #FFFFFF;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}