

#content {
    background-image:url(images/bg.gif);
	background-repeat:repeat-x;
	background-color:#121212;
	font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #FFFFFF;
    margin: 0%;
}

.navbar {
    background: #195476;
    /*width: 5%;*/
}

.navbar md-toolbar {
    background: #195476;
    text-align: center;
}

#copywrite {
	line-height:20px;
    font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#BECF96;
	}

table {
    background-color:#FFFFFF;
    border-collapse: collapse;
    border-color: #000000;
    width: 100%;
    color: #000000;

}

.tableheader:hover{
    background-color:#FFFFC7;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    background-image:url(images/bg_navigation_hover.gif);
}

.tableheader {
    background-color:#FFFFC7;
    font-weight: bold;
    color: #FFFFFF;
    background-image:url(images/bg_navigation.gif);
    text-align: center;
}
