.pagination-page-info {
    display: inline;
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 14px;
}
.pagination-page-info b {
    color: white;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination li {
    padding: 10px;
    display: inline;
}

.active a {
    font-size: 125%;
    font-weight: bold;
}

