.container {
    margin: 10px;
    padding: 0px 10px;
    background-color:#FFF099;
    border:1px solid #000000;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#FFF099;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    width: 100%;
    padding : 0px;
}

.contentitem {
    max-width: 95%;
    margin: 20px;
    padding: 10px;
    /*border:1px solid #000000;*/
    display: block;
}

.codeblock {
    background-color:#FFFFFF;
    border-style:solid;
    border-width: 1px;
    font-weight: bold;
}

.variabletable {
    background-color:#FFFFFF;
}

table {
    background-color:#FFFFFF;
    border-collapse: collapse;
    width: 100%;
}

.varcolumn {
    padding: 5px;
    width: 30%;
}


.valcolumn {
    padding: 5px;
    width: 70%;
}

