.container {
    width:100%;
    background-color:#FFF099;
    border:1px solid #000000;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#FFF099;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 0px;
}

/*.container {*/
    /*!*width:100%;*!*/
    /*!*border:1px solid #FFF099;*!*/
/*}*/
/*.container div {*/
    /*!*width:100%;*!*/
/*}*/
/*.container .header {*/
    /*!*background-color:#FFF099;*!*/
    /*!*padding: 10px;*!*/
    /*cursor: pointer;*/
    /*background-color:#FFF099;*/
    /*border-style:solid;*/
    /*border-width: 1px;*/
    /*padding: 5px;*/
    /*!*border-style: solid;*!*/
    /*!*border-width: 1px;*!*/
    /*!*font-weight: bold;*!*/
/*}*/
/*.container .content {*/
    /*background-color:#FFF099;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*!*padding: 10px;*!*/
    /*display: none;*/
/*}*/

/*.traceback {*/
    /*background-color:#FFF099;*/
    /*border-style:solid;*/
    /*border-width: 1px;*/
    /*padding: 5px;"*/
/*}*/


/*.codeblock {*/
    /*background-color:#FFF099;*/
    /*border-style:solid;*/
    /*border-width: 0px;*/
    /*padding: 0px;"*/
/*}*/