
body {
	background-image:url(images/bg.gif);
	background-repeat:repeat-x;
	background-color:#121212;
	font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color: #FFFFFF;
    margin: 1%;
}

#footer {
	height:90px;
	line-height:30px;
	padding:8px 0px;
	background-repeat:no-repeat;
    font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#BECF96;
	}

#login-page {
    background-color:#121212;
    margin: 10% 20%;
}

#login {
    padding: 20px;
    color: #FFFFFF;
    background-image:url(images/bg_content.gif);
    border: 2px solid #000000;
}


.container {
    margin: 10px;
    padding: 0px 10px;
    color: #000000;
    background-color:#FFFFC7;
    border:1px solid #000000;
}

.password div {
    width:100%;
    background-color:#FFF099;
    margin: 20%;

}

.container div {
    width:100%;
}

.container .header {
    background-color:#FFFFC7;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    width: 100%;
    padding : 0px;
}

.contentitem {
    max-width: 95%;
    margin: 20px;
    padding: 10px;
    /*border:1px solid #000000;*/
    display: block;
}

.codeblock {
    background-color:#FFFFFF;
    border-style:solid;
    border-width: 1px;
    font-weight: bold;
}

.variabletable {
    background-color:#FFFFFF;
}

table {
    background-color:#FFFFFF;
    border-collapse: collapse;
    border-color: #000000;
    width: 100%;
    color: #000000;

}

.varcolumn {
    padding: 5px;
    width: 30%;
    font-weight: bold;
}


.valcolumn {
    padding: 5px;
    width: 70%;
    font-weight: bold;
}

.tableheader {
    background-color:#FFFFC7;
    font-weight: bold;
    color: #000000;
}