<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='syntax.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='crashreport.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    {% extends "base.html" %}

    {% block content %}
        <div style="width: 80%;">
            <h3>
                {% if info['Application Name'] != None %}
                    {% if info['Application Version'] != None %}
                        {{info['Application Name']}} (v{{info['Application Version']}})
                    {% else %}
                        {{info['Application Name']}}
                    {% endif %}

                {% else %}
                    Crash Report
                {% endif %}
            </h3>
            {% if user is none %}
                <p>A crash was detected on {{info['Date']}} at {{info['Time']}}.</p>
            {% else %}
                <p>A crash was detected on {{info['Date']}} at {{info['Time']}} from user {{ info['User'] }}.</p>
            {% endif %}

        </div>

        <div style="width: 80%;">
            <h4>Traceback (most recent call last):</h4>
            {% for tb in info['Traceback'] %}

                <div class="container">

                    <DL class="header">
                        File: {{tb['File']|e}} , line {{tb['Error Line Number']|e}}, in module {{tb['Module']|e}}
                        <DD>
                            {{tb['Error Line']|e}}
                        </DD>
                    </DL>


                    {% if loop.revindex <= inspection_level %}
                        <div class="content">

                            <h4>Source Code:</h4>
                            <div class="contentitem">
                                <div class="codeblock">
                                    {{ tb['Source Code'] | safe }}
                                </div>
                            </div>
                            {% if tb['Local Variables'] %}
                                <h4>Local Variables:</h4>
                                    <div class="contentitem">
                                        <table border="1" class="variabletable">
                                            <tr class="tableheader">
                                                <td>Variable</td>
                                                <td>Value</td>
                                            </tr>
                                            {% for field, value in tb['Local Variables'] %}
                                                <tr>
                                                    <td class="varcolumn">{{ field|e }}</td>
                                                    <td class="valcolumn">{{ value|e }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                            {% endif %}
                            {% if tb['Object Variables'] %}
                                <h4>Object Inspection:</h4>
                                    <div class="contentitem">
                                        <table border="1" class="variabletable">
                                            <tr class="tableheader">
                                                <td>Variable</td>
                                                <td>Value</td>
                                            </tr>
                                            {% for field, value in tb['Object Variables'] %}
                                                <tr>
                                                    <td class="varcolumn">{{ field|e }}</td>
                                                    <td class="valcolumn">{{ value|e }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                            {% endif %}
                        </div> {# End of content #}
                    {% endif %}
                </div>
            {% endfor %}


            <div class="container">
                <DL class="header">
                    Error:
                    <DD>
                        {{info['Error Message']|e}}
                    </DD>
                </DL>
            </div>

            <form method='GET' action="{{ url_for('home') }}">
                <input type="submit" value="Back" >
            </form>
        </div>

    {% endblock %}

</body>
</html>