<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}" />
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='crashreport.js') }}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div style="width: 80%;">
    <h2>
        {% if info['Application Name'] != None %}
            {% if info['Application Version'] != None %}
                {{info['Application Name']}} (v{{info['Application Version']}})
            {% else %}
                {{info['Application Name']}}
            {% endif %}

        {% else %}
            Crash Report
        {% endif %}
    </h2>
<hr>
    {% if user is none %}
        <p>A crash was detected on {{info['Date']}} at {{info['Time']}}.</p>
    {% else %}
        <p>A crash was detected on {{info['Date']}} at {{info['Time']}} from user {{user}}.</p>
    {% endif %}

</div>

<div style="width: 80%;">
    <h4>Traceback (most recent call last):</h4>
    <b>
    {% for tb in info['Traceback']%}

        <div class="container">

            <DL class="header">
                File: {{tb['File']|e}} , line {{tb['Error Line Number']|e}}, in module {{tb['Module']|e}}
                <DD>
                    {{tb['Error Line']|e}}
                </DD>
            </DL>

            <div class="content">
                    <h4>Source Code:</h4>

                    <ol start="{{tb['func_line']}}">
                        {% for n, line in tb['Source Code'] %}
                            {% set stripped_line = line.replace('    ', '') %}
                            {% set indent = 30 * (line.count('    ') - 1) %}
                            {% if n == tb['Error Line Number'] %}
                                <li style="background-color:#BB0000; padding-left:{{indent}}px;">
                                    {{stripped_line}}
                                </li>
                            {% else %}
                                <li style="padding-left: {{indent}}px;">{{stripped_line}}</li>

                            {% endif %}
                        {% endfor %}
                    </ol>

            </div>

        </div>
    {% endfor %}

    </b>

    <hr>

    <h4>Local Variables in the scope of {{info['Traceback'][-1]['Module']|e}}</h4>
    <table border="1" style="width:800px">
        {% for field, value in info['Traceback'][-1]['Local Variables'] %}
            <tr>
                <td style="width:30%">{{ field|e }}</td>
                <td>{{ value|e }}</td>
            </tr>
        {% endfor %}
    </table>

    <h4>Object Inspection in the scope of {{info['Traceback'][-1]['Module']|e}}</h4>
    <table border="1" style="width:800px">
        {% for field, value in info['Traceback'][-1]['Object Variables'] %}
            <tr>
                <td style="width:30%">{{ field|e }}</td>
                <td>{{ value|e }}</td>
            </tr>
        {% endfor %}
    </table>


</div>

</body>
</html>