<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pagination.css') }}">
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <meta charset="UTF-8">
    <title>Crash Reporter HQ</title>
</head>


<body>

    {% extends "base.html" %}

    {% block content %}

        <h3>group.name</h3>
        <table border="1" class="sortable", style="width:100%">
            <tr>

                {% for header in ('Users', 'Group Admin') %}
                    <td class="tableheader">{{ header }}</td>
                {% endfor %}
            </tr>

            {% for u in group.users%}
                <tr>
                        <td style="text-align: center"> {{ u.name}} </td>
                        <td style="text-align: center"> {{ u.group_admin }} </td>

                </tr>
            {% endfor %}
        </table>



    {% endblock %}


</body>
</html>