<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Crash Reporter HQ</title>
</head>


<body>

<h1>Crash Reporter HQ</h1>

{% if reports %}
    <table border="1" style="width:800px">
        <tr>
            {% for header in reports[0].iterkeys() %}
                <td>{{ header }}</td>
            {% endfor %}
        </tr>

        {% for r in reports %}
            <tr>
                {% for value in r.itervalues() %}
                    <td>{{ value }}</td>
                {% endfor %}
                <td><a href="{{ url_for('view_report', report_number=r['Report Number']) }}">Open</a></td>

            </tr>
        {% endfor %}
{% endif %}
</table>
</body>
</html>