<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <meta charset="UTF-8">
    <title>Crash Reporter HQ</title>
</head>


<body>

    {% extends "base.html" %}

    {% block content %}

            {% if reports %}
                <table border="1" class="sortable", style="width:100%">
                    <tr>
                        {% for header in reports[0].iterkeys() %}
                            <td class="tableheader">{{ header }}</td>
                        {% endfor %}
                    </tr>

                    {% for r in reports %}
                        <tr>
                            {% for value in r.itervalues() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                            <td>
                                <form method='GET' action="{{ url_for('view_report', report_number=r['Report Number']) }}">
                                    <input type="submit" value="Open" >
                                </form>
                            </td>
                            <td>
                                <form method='POST' action="{{ url_for('delete_report', report_number=r['Report Number']) }}">
                                    <input type="submit" value="Delete" >
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
    {% endblock %}


</body>
</html>