<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='crashreport.css') }}">
    <title>Crash Reporter HQ</title>
</head>
<body id="login-page">

    {% extends "base.html" %}

    {% block content %}

            <form action="login" method="post" name="login">
                {{ form.hidden_tag() }}
                    <div id="login">
                        <h3>Sign In</h3>
                        Username: {{ form.email(size=80) }}    <br>
                        Password: {{ form.password(size=80) }} <br><br>
                        <input type='submit' name='submit', value="Sign In"></input>
                    </div>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>

            </form>
    {% endblock %}

</body>
</html>